select {
  font-family: 'FontAwesome', 'Second Font name'
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  color:#A7A1AE;
  background-color:#1F2739;
  font-family: 'Roboto', sans-serif;
}
h4, h1, h5{
	color: #fff;
}


