<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lisää kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="/js/surveyfunctions.js"></script>
</head>

<body>
    <h1 th:if="${edit == false}" >Lisää kysely</h1>
    <h1 th:unless="${edit == false}" >Muokkaa kyselyä</h1>
    <form name="surveyForm" action="#" th:action="@{/save}" th:object=${survey} onsubmit="return validateForm()" method="post">
        <h4>Kyselyn nimi:</h4>
        <input type="text" id="sname" th:field="${survey.name}" />
        <input type="hidden" th:field="${survey.id}" />
        <input type="submit" value="Submit" class="btn btn-success" />
        <input th:if="${edit == false}" type="button" value="Reset" class="btn btn-danger" onClick="ResetNew()" />
        <h4>Kuvaus:</h4>
        <textarea rows="3" cols="40" id = "sdescription" th:field="${survey.info}"></textarea>
        <h4>Kysymykset</h4>
        <table id="questions">
            <tr th:each="question, stat : ${questions}">
                <td>
                    <input type="text" th:field="*{questions[__${stat.index}__].question}" />
                    <input type="hidden" th:field="*{questions[__${stat.index}__].id}"/>
                    <input type="hidden" th:field="*{questions[__${stat.index}__].type}"/>
                    <div th:if="*{questions[__${stat.index}__].type == 'radio'}">
                        <div th:each="choice : *{questions[__${stat.index}__].choices}" th:text="${choice}"></div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" th:id="${stat.index}"
                        th:attr="onclick=|removeField(${stat.index})|">-</button>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-success" onClick="addField()">lisää</button>
        <br>
        <br>
    </form>
    
     <a href="/surveys"><button class="btn btn-success">Kyselyt</button></a>
</body>

</html>