<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lisää kysely</title>
<script>
function lisaaKysymys(){
	
	document.getElementById("kysymykset").innerHTML+= 

	"<label for='fname'><b>Kysymys</b></label> " +
	"<br/><input type='text' id='kyselysisalto' name='kyselysisalto'>" +
	"<br/>"
  
}
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="lisaaKysymys.js"></script>
</head>
<body>
<h1>Lisää kysely</h1>
	<form action="#" th:action="@{/save}"  th:object= ${kysely} method="post">
	<p>Kyselyn nimi: <input type="text" th:field="${kysely.nimi}" /></p>
  
    
    <div id="kysymykset">
 	</div>
 	<br/>
    
 	<button type="button" onclick="lisaaKysymys()">Lisää kysymys</button>
 
	

	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>

</body>
</html>